@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
// modify bootstrap variables (add to map)
$custom-position:(
    5: 5%,
);
$position-values: map-merge($position-values, $custom-position);
@import "../node_modules/bootstrap/scss/bootstrap";

$cart-image: url("./media/cart_image.png");
$cart-image-dark-theme: url("./media/cart_image_dark_theme.png");

$color1: #151b54;
$color2: #000080;
$color3: #0000CD;
$main-color: #87CEFA;
$grayish: rgb(219, 219, 219);

#root{
    position: relative;
    padding: 3em;
    height: 100vh;
}


@mixin theme-colors($light-theme: true){
    @if $light-theme{
        background-color: $main-color;
        color: $color1;
    } @else {
        background-color: $color1;
        color: white;
    }
}

.light-mode{
    @include theme-colors();

    button.ovr-btn{
        background-color: $color2;
        color: white;

        &:hover{
            background-color: $color3;
        }
    }

    .bottom-panel{
        background-color: darken($main-color, 10%);

        .cart-image{
            background-image: $cart-image;
        }
    }

    div.cart{
        background-color: whitesmoke;
    }
}
.dark-mode{
    @include theme-colors($light-theme: false);

    button.ovr-btn{
        background-color: $color3;

        &:hover{
            background-color: $color2;
        }
    }

    .bottom-panel{
        background-color: lighten($color1, 10%);

        .cart-image{
            background-image: $cart-image-dark-theme;
        }
    }

    div.product{
        background-color: $grayish;
    }

    input{
        background-color: $grayish;
    }

    div.cart{
        background-color: $grayish;
        color: $color1;
    }
}

// #region buttons
button.ovr-btn{
    border: $color1 solid 1px;
    border-radius: 10px;
    background-color: $color3;
    color: white;
}

.btn-start{
    @extend .ovr-btn;
    padding: 0.5em 1em;
}

.btn-upper{
    @extend .ovr-btn;
    margin-bottom: 0.2em;
}

.btn-left{
    @extend .ovr-btn;
    margin-right: 0.2em;
}

.btn-right{
    @extend .ovr-btn;
    margin-left: 0.4em;
}
// #endregion

input.ovr-inp{
    border: $color1 solid 1px;
    border-radius: 10px;
    color: $color1;
    padding: .2em .4em;
}

.product-list{
    justify-content: space-evenly;
}

div.product{
    width: 14rem;
    margin: 1em;
    border-radius: 1rem;
}

.bottom-panel{
    z-index: 1;
    border: $color1 solid 1px;

    .cart-image{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 2em;
        height: 2em;
        position: relative;
        margin: .5em 1em;
    }
}

div.cart{
    border: $color1 solid 1px;
    border-radius: 1rem;
    padding: 3em;
}

// popup
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  
    .popup-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
  
      .buttons {
        margin-top: 20px;
  
        button {
          margin-right: 10px;
        }
      }
    }
  }
  
td.pl{
    padding-left: 1rem;
}